.MuiInput-underline-19:before,
.MuiInput-underline-19:after {
    border-bottom: 0 !important;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 0 !important;
}

input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 0 !important;
}

.MuiInput-underline-9:before,
.MuiInput-underline-9:after,
.MuiInput-underline-9,
.MuiInput-focused-7:after,
.MuiInput-focused-7:before,
.MuiInput-focused-7 {
    border-bottom: 0 !important;
}

.optionBox {
    /* display: flex; */
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.textField {
    padding: 10px !important;
    width: 50%;
}

.userChat {
    display: flex;
    justify-content: flex-start;
}

.techChat {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}
.sb-avatar {
    margin: 3rem;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    font-family: 25px;
    padding: 20px;
    margin-right: 20px;
    /* float: left; */
    width: 12rem;
}

/* .cardBox {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 500px; */
/* } */