html {
    width: 100%;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-color: #eee;
    width: 50%;
}

.textField {
    width: 100%;
}